@{
  Layout = "_Layout";
}

<h1>Add a new Course</h1>
<form action="/courses/new" method="post">
  <label for="course-name">Course name:</label>
  <input id="course-name" name="course-name" type="text">
  <button type="submit">Add new course</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/courses">View all courses</a></p>
